@use 'sass:color';

// Colors
$primary: #1f58cf;
$primary-active: #053aa8;
$primary-bg: #e3eaff;
$secondary: #cf971f;
$secondary-active: color.scale($secondary, $lightness: -10%);
$secondary-bg: #fff9e3;
$error: #d20300;
$error-bg: #ffe5e5;
$warning: #e69000;
$warning-bg: #fcf2dd;
$required: #ff0000;

$black: #000000;
$dark-grey: #2d2d2d;
$white: #ffffff;

// Fonts
$font: 'Source Sans 3';
