.app {
  width: 100vw;
  height: 100vh;

  @include flexCenter;

  &__container {
    display: flex;
    align-items: flex-end;
    gap: 1.6rem;
  }

  &__popup {
    @include flexCenter;

    position: absolute;
    margin-top: 4.9rem;
    width: 30.8rem;
    height: 3.5rem;
    padding: 0.8rem;
    border-radius: 4px;
    box-shadow: 0 0.6rem 2.4rem 0 rgba(black, 0.33);
  }
}
